
.search_taxi{width:250px; height:50px;}

.rate_corrida{width:100%; height:50px;}

.rate_corrida_text{width:100%; height:200px;}

.lat_lon{width:250px !important; height:50px !important;}


.range{max-width: 100px !important; height:50px !important; display:inline !important;}

.input_text{max-width: 282px !important; height:50px !important;}

.tabela{max-width:450px !important; border-radius:10px; background-color:#FFFFFF; box-shadow:#000000 0px 0px 10px -2px; }

.pin{background-image:url(../../includes/media/pin.png); background-size: auto 75%; background-repeat:no-repeat; background-position:bottom 20px left 20px}

.label1{font-family:Arial; color:#b72c2c; font-size:24px;}

.label2{font-family:Arial; color:#777777; font-size:12px;}

.label3{font-family:Arial; color:#b72c2c; font-size:18px;}

.label4{font-family:Arial; color:#777777; font-size:15px;}

.call_driver{ max-width: 450px !important; width: 100%; height: 100px; border-radius:10px !important; box-shadow:#000000 0px 0px 10px -2px; }

.vertical_align{vertical-align: middle !important;}

.notificacao{
    max-width:450px !important;
    border-radius: 10px;
    padding: 10px;
    background-color:#facec7;
    box-shadow:#FF0000 0px 0px 30px -2px;
    color: #FFFFFF;
}

.box_label_statistics{
    padding:10px;
    width:100%;
    display:block;
}

.box_statistics{
    font-family: arial;
    width: 200px;
    height: 200px;
    background-size: auto 70%;
    background-position: center;
    background-repeat: no-repeat;
    vertical-align:bottom;
    display: table-cell;
    background-image: url(../../includes/media/estatisticas.png);
    
}
.box_ticket{
    width:420px;
    height:180px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../../includes/media/ticket.png);
    background-size: 100% auto;
    vertical-align: middle;
    display:table-cell;
    font-family:Arial;
    color:#b72c2c;
    font-size:24px;
}
.box_ticket:hover{
    color:#b72c2c;
}

.profile{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-size:cover;
    box-shadow: 0px 3px 10px -3px #000
}
.prof{
    box-shadow: 0px 3px 10px -3px #000;
    border-radius: 100%;
    background-size:cover;
}