
.bar_left_active{ width: 10px; background-image: url(../media/status/left_active.png); background-size: auto 9px; background-repeat: no-repeat; background-position: right;}
.bar_left_inactive{ width: 10px; background-image: url(../media/status/left_inacive.png); background-size: auto 9px; background-repeat: no-repeat; background-position: right;}
.bar_left_red{ width: 10px; background-image: url(../media/status/left_red.png); background-size: auto 9px; background-repeat: no-repeat; background-position: right;}
.bar_middle_active{ background-image: url(../media/status/middle_active.png); background-size: auto 9px; background-repeat: repeat-x; background-position: center;}
.bar_middle_inactive{ background-image: url(../media/status/middle_inactive.png); background-size: auto 9px; background-repeat: repeat-x; background-position: center;}
.bar_middle_red{ background-image: url(../media/status/middle_red.png); background-size: auto 9px; background-repeat: repeat-x; background-position: center;}
.bar_right_active{ width: 10px; background-image: url(../media/status/right_active.png); background-size: auto 9px; background-repeat: no-repeat; background-position: left;}
.bar_right_inactive{ width: 10px; background-image: url(../media/status/right_inactive.png); background-size: auto 9px; background-repeat: no-repeat; background-position: left;}
.bar_right_red{ width: 10px; background-image: url(../media/status/right_red.png); background-size: auto 9px; background-repeat: no-repeat; background-position: left;}
.bar_middle_active_inactive{ background-image: url(../media/status/middle_active_inactive.png); background-size: 100% 9px; background-repeat: repeat-x; background-position: center;}

