body{ margin:0px !important; background-color:#eaeef6 !important;}
.topMenu{
	background-color:#ECD946;
        background-image:url(../media/menu_background.png);
        background-size: auto 100%;
        width:100%;
        height:256px;
        box-shadow:#000000 0px 0px 10px -2px;
        min-width:200px; 
}
.home{
	width:100%;
        min-width:200px;
        max-width:351px;
        height:115px;
        display:block;
        background-image:url(../media/logo.png); background-size: 100% auto; margin-top:0px; background-repeat:no-repeat;
}
.menu{
	color:#333333; font-size:18px; font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
